:root {
  --colorTextPrimery: #212121;
  --colorTextSecondory: #fff;
}

body {
  font-size: 14px;
  color: #212121;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
}
.menu-link:hover {
  color: #2196f3;
}
.menu-link {
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 0.02em;
}
.hero {
  background: #2f303a;
}
.hero-title {
  color: var(--colorTextSecondory);
  font-weight: 900;
  font-size: 44px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.36;
}

.button-link {
  color: var(--colorTextSecondory);
  font-size: 16px;
  letter-spacing: 0.06em;
  background: #2196f3;
  border-radius: 4px;
}
.hero-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 162%;
  text-align: center;
  color: var(--colorTextSecondory);
  background-color: #2196f3;
}
.button-link {
  border-radius: 4px;

  background: #f5f4fa;
}
.button-link:hover {
  background: #2196f3;
  color: var(--colorTextSecondory);
}

.advatage-title {
  text-transform: uppercase;
  font-weight: 700;
}
.advatage-text {
  color: #757575;
}
.work-title {
  font-size: 36px;
  font-weight: 700;
}
.team-title {
  font-size: 36px;
  text-align: center;
  font-weight: 700;
}
.team-name {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}

.team-role {
  color: #757575;
  text-align: center;
}
.gallery-title {
  font-size: 18px;
  line-height: 200%;
  letter-spacing: 0.06em;
  font-weight: 700;
}
.gallery-category {
  color: #757575;
  line-height: 1.87;
}

.footer {
  background: #2f303a;
}
.address {
  color: var(--colorTextSecondory);
}
.footer-link {
  color: rgba(255, 255, 255, 0.6);
}
